/* COLOR */
/*Dark Blue 2C3E50
Medium Blue 2980B9
Light Blue 34A0DB
White ECF0F1
Coral E74C3C*/


/* GLOBAL */
.main-header {
  padding-top: 20px;
  margin: 0;
  height: 200px;
  background: linear-gradient(#2C3E50 60%, transparent);}
	
h1 {
	display: block;
	font-family: 'Arvo', serif;
	padding: 25px;
	margin: 0 0 10px;
	font-size: 60px;
	color: #ECF0F1;
}

body {
	font-family: 'Raleway', sans-serif;
	line-height: 1.5;
}

ul {
	list-style-type: none;
}

p {
	padding: 10px;
}

.main-footer {
  padding-bottom: 10px;
  height: 100px;
  background: linear-gradient(transparent, #2C3E50 60%);}

div {width: 80%;}

h2 {
	color: #ECF0F1;
	background: #2980B9; 
}

h4 {
	color: #ECF0F1;
	background: #34A0DB; 
}

/* NAV */
.nav {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    display: inline;
    text-decoration: none;
}

a:link {
	color: #2C3E50;
} 

a:visited {
  color: #2C3E50;
}

a:hover {
  background: #ECF0F1;
  color: #E74C3C;
}

a:active {
  background: #ECF0F1;
  color: #E74C3C;
}


/* BIO */
.bio table td {
	padding: 10px;
}

/* INDEX */
.index .float {
	float: left;
}

.index img {width: 40%;
	height: 40%;
	border-radius: 50%;
	float: right;
	margin: 20px;
}


/* Style Tile */
section {
	margin: 20px 0;
}

.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3, 
.imagery-1,
.imagery-2,
.imagery-3 {
	border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
}

/* Set Your Own Typography */


/* Set Your Own Margin & Padding */
h2, h3, p {
	margin: 0;
}

/* Clearfix - Oo Not Remove */
.clearfix {clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}


/* Color Pallette*/
.style-tile .color-1 {
	background: #2C3E50;
}

.style-tile .color-2 {
	background: #2980B9;
}

.style-tile .color-3 {
	background: #34A0DB;
}

body .style-tile {
	font-family: 'Raleway', sans-serif;
}





