/*******************
Heading
*******************/

h1 {text-align: center;}
h2 {}

/*******************
Body
*******************/

body {background: teal;
	color: #E9E9E9;}

/*******************
Details
*******************/

hr {width: 80%;
	border: 0;
	background-color: #482804;
	color: #482804;
	height: 3px;}

