/* COLOR */
/*Dark Blue 2C3E50
Medium Blue 2980B9
Light Blue 34A0DB
White ECF0F1
Coral E74C3C*/


/* GLOBAL */
h1 {
	display: block;
	font-family: 'Arvo', serif;
	padding: 25px;
	margin: 0 0 10px;
	width: 100%;
}

body {
	font-family: 'Raleway', sans-serif;
	line-height: 1.5;
	width: 80%;
}

body {font-family: 'Raleway', sans-serif;}

ul {
	list-style-type: none;
}

p {
	padding: 10px;
}

/* NAV */
.nav {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    display: inline;
    text-decoration: none;
}

nav a:link {
	color: #2C3E50;
} 

nav a:visited {
  color: #2C3E50;
}

nav a:hover {
  background: #ECF0F1;
  color: #E74C3C;
}

nav a:active {
  background: #ECF0F1;
  color: #E74C3C;
}

img {width: 60%;
	height: 60%;}


/* BIO */
h1 {
	color: #ECF0F1;
	background: #2C3E50;	
}

h2 {
	color: #ECF0F1;
	background: #2980B9; 
}

h4 {
	color: #ECF0F1;
	background: #34A0DB; 
}

table td {
	padding: 10px;
}

/* INDEX */
img {width: 60%;
	height: 60%;}

